<footer>
  <div class="f-info">
    <div class="f-info-socials">
      <a href="https://www.instagram.com/" target="_blank">
        <i class="fa-brands fa-instagram"></i>
      </a>

      <a href="https://github.com/kaushalyadav2006" target="_blank">
        <i class="fa-brands fa-github"></i>
      </a>

      <a href="https://www.linkedin.com/in/kaushalyadav2006/" target="_blank">
        <i class="fa-brands fa-linkedin"></i>
      </a>
    </div>
    <div class="f-info-brand">&copy; RoamRes Private Limited</div>
    <div class="f-info-links">
      <a href="/privacy">Privacy</a>
      <a href="/terms">Terms</a>
    </div>
  </div>
</footer>
