/* Navbar*/
.navbar {
  background-color: white;
}

.fa-compass {
  color: #fe424d;
  font-size: 2rem;
}

.nav-link {
  color: #222222 !important;
}

.search-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #ff385c;
  color: #fff;
  border: none;
  border-radius: 25px;
  padding: 0 1rem;
  cursor: pointer;
  transition: all 0.2s ease;
  width: 36px;
  height: 36px;
}

.search-btn:hover {
  background-color: #e03150;
  color: #fff;
}

.search-btn:active {
  transform: scale(0.96);
}

.search-btn i {
  margin-right: 0.5rem;
}

.search-box {
  display: flex;
  align-items: center;

  width: 100%;
  max-width: 420px;
  padding: 0.4rem;

  background: #f7f7f7;
  border: 1px solid #ddd;
  border-radius: 999px;
}

.search-box:hover {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.search-inp {
  border-radius: 20px;
  padding: 0.6rem 1rem;
  font-size: 1rem;
  flex: 1;
  border: none;
  background: transparent;
  font-size: 0.95rem;
}

.search-inp::placeholder {
  color: #717171;
}

.search-inp:focus {
  outline: none;
  box-shadow: none;
}

/* RIGHT MENU */
#rightMenu {
  flex-grow: 0;
}

#rightMenu .navbar-nav {
  align-items: center;
  gap: 8px;
}

 /* TABLET View */
@media (max-width: 992px) {
  .search-box {
    max-width: 280px;
  }

  .search-inp {
    font-size: 0.9rem;
    padding: 0.4rem 0.8rem;
  }

  .navbar-nav {
    padding-top: 10px;
  }
}

/* SMALL DEVICES View */

@media (max-width: 768px) {
  .search-box {
    max-width: 220px;
  }

  .search-inp {
    font-size: 0.85rem;
    padding: 0.35rem 0.6rem;
  }
}

/* MOBILE MENU View */
@media (max-width: 991px) {
  #rightMenu {
    position: absolute;
    top: 100%;
    right: 10px;

    background: white;
    border-radius: 12px;
    padding: 10px 15px;

    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);

    width: max-content;
    min-width: 200px;
    z-index: 999;
  }

  #rightMenu .navbar-nav {
    flex-direction: column;
    align-items: flex-start;
  }
}


 /* EXTRA SMALL View */
@media (max-width: 576px) {
  .search-box {
    max-width: 180px;
  }

  .search-inp {
    font-size: 0.8rem;
    padding: 0.3rem 0.5rem;
  }
}